@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #222;
  color: white;
  font-family: "Quicksand", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.title {
  color: mediumpurple;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 0 30px;
}

li a {
  text-decoration: none;
  color: white;
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;
}

.jumbotron img {
  width: 50%;
}

.jumbotron span h1 {
  padding: 10px 0;
}
